:root {
  --color-fondo: #000803;
  --color-fondo-header: rgba(0, 0, 0, 0.7);
  --color-fondo-dropdown: rgba(0, 0, 0, 0.95);
  --color-texto-principal: #FFFFFF;
  --color-acento: white;
  --color-sombra: rgba(60, 255, 0, 0.3);
  --color-sombra-suave: rgba(60, 255, 0, 0.1);
  --color-sombra-fuerte: rgba(60, 255, 0, 0.5);
  --color-texto-secundario: #E0E9E4;
  --color-caja: #111;
  --color-error: #FF4C4C;
  --color-exito: #4CFF4C;

  --color-ganador: #f5c518;
  --color-segundo: #b6b6b6;
  --color-tercero: #cd7f32;

  --color-modal-bg: rgba(0, 0, 0, 0.8);
  --color-modal-box: #111;
  --color-modal-border: #3cff00;
  --color-modal-text: #fff;
  --color-modal-shadow: rgba(60, 255, 0, 0.4);
}


body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: white;
  font-family: "Lato", arial, sans-serif;
}

.main {
  width: 100%;
  overflow-x: hidden;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--color-fondo-header);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  animation: pulse 4s infinite;
  margin: 0 auto;
}

.scroll-animate,
.scroll-left,
.scroll-right {
  opacity: 0;
  transition: opacity 1s ease, transform 2s ease;
}

.scroll-animate {
  transform: translateY(40px);
}

.scroll-left {
  transform: translateX(-40px);
}

.scroll-right {
  transform: translateX(40px);
}

.scroll-animate.animate,
.scroll-left.animate,
.scroll-right.animate {
  opacity: 1;
  transform: translate(0);
}

.menu-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}

.menu-button-image {
  width: 30px;
  height: 30px;
  padding: 1px;
  border: none;
  cursor: pointer;
  object-fit: cover;
}

.nav .menu-button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
}

.dropdown {
  position: absolute;
  right: 0;
  background: var(--color-fondo-dropdown);
  padding: 1rem;
  border-radius: 0.5rem;
  animation: fadeIn 1s ease-in-out;
}

.dropdown li {
  margin-bottom: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 30px 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: "Fredoka One", arial, sans-serif;
}

a:hover {
  background-color: var(--color-sombra-fuerte);
  color: #E0E9E4;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

a:active {
  background-color: var(--color-sombra-fuerte);
}

.banner {
  height: 90vh;
  max-width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.banner-image {
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  animation: fadeUp 1s ease-in-out;
}

.inscripcion {
  max-width: 50%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  animation: slideUp 1s ease-in-out;
}

.inscripcion p {
  font-size: 30px;
  color: #E0E9E4;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.inscribirse-button {
  background-color: #fff;
  color: #303030;
  padding: 1rem 2rem;
  border-radius: 60px;
  transition: transform 0.5s;
  font-size: 22px;
  font-weight: bold;
  font-family: "Fredoka One", arial, sans-serif;
}

.inscribirse-button:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.acerca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.acerca {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem 1rem;
  animation: fadeIn 1s ease-in-out;
}

.acerca h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Fredoka One", arial, sans-serif;
}

.acerca p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #749E86;
  font-family: "Lato", arial, sans-serif;
}

.columna {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 1rem;
  padding: 20px;
  box-shadow: -6px 0 6px -2px var(--color-sombra-suave), 6px 0 6px -2px var(--color-sombra-suave);
}

.columna-info {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 1rem;
  padding: 20px;
  box-shadow: -6px 0 6px -2px var(--color-sombra-suave), 6px 0 6px -2px var(--color-sombra-suave);
}

.imagen {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}

.imagen:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px var(--color-sombra-fuerte);
}

.subtitulo {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 300px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 4px 6px -6.5px var(--color-sombra-fuerte);
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 6px -6.5px var(--color-sombra-fuerte);
}

.galeria-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.3rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 1rem;
  justify-content: center;
  padding: 5rem 1rem;
  animation: fadeIn 1s ease-in-out;
}

.imagen-galeria {
  width: 100%;
  border-radius: 0.5rem;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px var(--color-sombra-suave);
}

.imagen-galeria:hover {
  transform: scale(1.25);
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  animation: fadeIn 1s ease-in-out;
  min-width: 40%;
}

.video-wrapper {
  width: 100%;
  max-width: 768px;
  aspect-ratio: 16 / 9;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.footer-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.image {
  margin-top: 1rem;
  border-radius: 60px;
  box-shadow: 0 4px 6px var(--color-modal-border);
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.05);
}

.video-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

@media (max-width: 960px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0.5rem 1rem;
  }

  .title {
    font-size: 1.3rem;
    flex: 1;
    text-align: center;
  }

  .menu-image-container {
    margin-left: auto;
    width: 30px;
    height: 30px;
  }

  .menu-button-image {
    width: 20px;
    height: 20px;
  }

  .banner {
    flex-direction: column;
    height: auto;
    margin: 1rem auto;
  }

  .banner-image {
    height: auto;
    border-radius: 20px;
  }

  .banner-title {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }

  .inscripcion {
    max-width: 90%;
    padding: 2rem 1rem;
  }

  .inscripcion p {
    font-size: 1.2rem;
  }

  .inscribirse-button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }

  .acerca {
    flex-direction: column;
    padding: 1rem;
  }

  .columna,
  .columna-info {
    max-width: 90%;
    padding: 1rem;
  }

  .galeria {
    grid-template-columns: repeat(2, 200px);
    padding: 2rem 1rem;
    align-items: center;
  }

  .imagen-galeria {
    width: 90%;
  }

  .video {
    padding: 1rem;
  }

  .video-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .video-container {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }

  .footer {
    padding: 4rem 1rem 13rem;
    overflow: visible;
  }

  .footer-nav a {
    display: block;
    margin: 0.5rem 0;
  }

  .copyright {
    font-size: 0.75rem;
    padding-top: 1rem;
  }
}

.scroll-animate,
.scroll-left,
.scroll-right {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.scroll-animate {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.scroll-left {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.scroll-right {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.scroll-animate.animate,
.scroll-left.animate,
.scroll-right.animate {
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
}