.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-modal-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}

.modal {
  background: var(--color-modal-box);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 25px var(--color-modal-shadow);
  position: relative;
  max-width: 500px;
  width: 90%;
  border: 2px solid var(--color-modal-border);
  color: var(--color-modal-text);
  animation: slideUp 0.5s ease-in-out;
}

.closeButton {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--color-modal-border);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.closeButton:hover {
  transform: scale(1.2);
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6;
}

.modalImage {
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff4d4d;
  margin-bottom: 0.5rem;
}

.modalText {
  font-size: 1rem;
  color: var(--color-modal-text);
  margin-bottom: 1.5rem;
}

.modalActions {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.confirmButton,
.cancelButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.confirmButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
}

.cancelButton {
  background-color: transparent;
  color: var(--color-modal-text);
  border: 2px solid var(--color-modal-border);
}

.modalButtons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
